DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:[PORT]/postgres"
SUPABASE_URL="https://[YOUR_SUPABASE_ID].supabase.co"
SUPABASE_KEY="[YOUR_SUPABASE_ANON_KEY]"
JWT_SECRET="your_jwt_secret_key"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_key"
PORT=4000
FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"

CLOUDINARY_CLOUD_NAME="your_cloudinary_name"
CLOUDINARY_API_KEY="your_cloudinary_key"
CLOUDINARY_API_SECRET="your_cloudinary_secret"
CLOUDINARY_URL="cloudinary://your_cloudinary_url"
